{
	"presets": [
		"@babel/env",
		"@babel/typescript",
		"react-app"
	],
	"plugins": [
		"@babel/plugin-proposal-numeric-separator",
		"@babel/proposal-class-properties",
		"@babel/proposal-object-rest-spread",
		[
			"inline-json-import",
			{}
		]
	]
}