/*----------------- High scope -----------------*/

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #666666;
}

.search-nav {
	width: 200px;
	float: left;
}

.search-nav .navigation-menu {
	float: left;
	width: 200px;
}

.search-nav .component-search {
	margin-bottom: 2px;
}

.article-content {
	margin-left: 215px;
}

.article-content .components-header {
	background: #2d8498;
	color: white;
	padding: 1px 7px 5px 7px;
}

.article-content .component-properties-header,
.article-content .component-example-header {
	margin-bottom: 3px;
}

/*-------------------- Generic --------------------*/

ul {
	padding: 0;
	margin: 0 0 5px 0;
}

li {
	list-style: none;
	margin-bottom: 1px;
}

li:hover {
	background: #bee2ea;
}

a {
	color: #666666;
	text-decoration: none;
	display: block;
	padding: 2px 0 3px 12px;
}

.clear {
	clear: both;
}

/*-------------------- Context --------------------*/

.article-content.landing-page {
	border: solid 1px #d3d3d3;
	padding: 16px;
	background-color: #f4f6f9;
}

.pageheader .logo {
	background: url(../public/new-elements-logo-svg.svg) no-repeat;
	width: 151px;
	height: 33px;
	position: absolute;
	background-size: contain;
}

.pageheader .logo-title {
	font-size: 0.5em;
	display: block;
	margin-left: 62px;
	padding-top: 26px;
	color: #2d8498;
	font-weight: normal;
}

/*--------------------Examples-------------------*/

.example {
	border: solid 1px #d3d3d3;
	padding: 16px;
	margin-bottom: 16px;
	background-color: #f4f6f9;
}

.popup-overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: gray;
	opacity: .2;
}

.popup-container {
	position: absolute;
	height: 100px;
	width: 200px;
	background-color: #2d8498;
	color: white;
}

/*--------------------Tree view--------------------*/

.tree-view_item {
	padding: 2px 2px 4px 4px;
	margin-bottom: 1px;
	font-size: 1.2em;
	background: #2d8498;
	color: white;
	position: relative;
}

.tree-view_item > span {
	vertical-align: bottom;
}

.tree-view_arrow {
	width: 200px;
	margin-top: -4px;
	right: 0;
	cursor: pointer;
	display: inline-block;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	text-align: right;
}

.tree-view_arrow:after {
	content: '▾';
	font-size: 1.5em;
}

.tree-view_arrow:not(.tree-view_arrow-collapsed) {
	text-align: left;
	margin-top: -3px;
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

/*--------------------Table--------------------*/

.table-props {
	border-collapse: collapse;
	background: #f4f6f9;
	width: 100%;
	border: solid 1px #d3d3d3;
}

.table-props th,
.table-props td {
	text-align: left;
	padding: 10px;
}

.table-props td {
	border-top: solid 1px #d3d3d3;
}

/*  ---------------------------------------------------
Notes on possible css class implementation:
	ec: elements common component scope
	ec-dropdown: because its a dropdown component
	languagepicker: variant of the dropdown component!
	In the Doc variant, additional classes can be added
	Order: Component scope | Type | Variant
	---------------------------------------------------*/

/* E.g all dropdowns: .ec.ec-dropdown {}*/

/* E.g dropdown of variant type languagepicker: .ec.ec-dropdown.languagepicker{}*/

/* E.g dropdown of variant type languagepicker on the sign-in page: .ec.ec-dropdown.languagepicker.sign-in-languagepicker {}*/

/* LanguagePickerStyled.js example */

.ec.ec-dropdown.languagepicker.sign-in-languagepicker .ms-Dropdown-title {
	border-radius: 2px;
}

.ec.ec-dropdown.languagepicker.sign-in-languagepicker:hover .ms-Dropdown-title {
	background-color: rgba(29, 62, 70, 0.69);
	color: white;
}

.ec.ec-dropdown.languagepicker.sign-in-languagepicker:hover .ms-Dropdown-caretDownWrapper i {
	color: white;
}

/** Dropdown */
.dropup,
.dropright,
.dropdown,
.dropleft {
	position: relative;
}

.dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
	margin-left: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: 0.5rem 0;
	margin: 0.125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 0.25rem;
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

@media (min-width: 576px) {
	.dropdown-menu-sm-right {
		right: 0;
		left: auto;
	}
}

@media (min-width: 768px) {
	.dropdown-menu-md-right {
		right: 0;
		left: auto;
	}
}

@media (min-width: 992px) {
	.dropdown-menu-lg-right {
		right: 0;
		left: auto;
	}
}

@media (min-width: 1200px) {
	.dropdown-menu-xl-right {
		right: 0;
		left: auto;
	}
}

.dropdown-menu-left {
	right: auto;
	left: 0;
}

@media (min-width: 576px) {
	.dropdown-menu-sm-left {
		right: auto;
		left: 0;
	}
}

@media (min-width: 768px) {
	.dropdown-menu-md-left {
		right: auto;
		left: 0;
	}
}

@media (min-width: 992px) {
	.dropdown-menu-lg-left {
		right: auto;
		left: 0;
	}
}

@media (min-width: 1200px) {
	.dropdown-menu-xl-left {
		right: auto;
		left: 0;
	}
}

.dropup .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0;
	border-right: 0.3em solid transparent;
	border-bottom: 0.3em solid;
	border-left: 0.3em solid transparent;
}

.dropup .dropdown-toggle:empty::after {
	margin-left: 0;
}

.dropright .dropdown-menu {
	top: 0;
	right: auto;
	left: 100%;
	margin-top: 0;
	margin-left: 0.125rem;
}

.dropright .dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid transparent;
	border-right: 0;
	border-bottom: 0.3em solid transparent;
	border-left: 0.3em solid;
}

.dropright .dropdown-toggle:empty::after {
	margin-left: 0;
}

.dropright .dropdown-toggle::after {
	vertical-align: 0;
}

.dropleft .dropdown-menu {
	top: 0;
	right: 100%;
	left: auto;
	margin-top: 0;
	margin-right: 0.125rem;
}

.dropleft .dropdown-toggle::after {
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	content: "";
}

.dropleft .dropdown-toggle::after {
	display: none;
}

.dropleft .dropdown-toggle::before {
	display: inline-block;
	margin-right: 0.255em;
	vertical-align: 0.255em;
	content: "";
	border-top: 0.3em solid transparent;
	border-right: 0.3em solid;
	border-bottom: 0.3em solid transparent;
}

.dropleft .dropdown-toggle:empty::after {
	margin-left: 0;
}

.dropleft .dropdown-toggle::before {
	vertical-align: 0;
}

.dropdown-menu[x-placement^="top"],
.dropdown-menu[x-placement^="right"],
.dropdown-menu[x-placement^="bottom"],
.dropdown-menu[x-placement^="left"] {
	right: auto;
	bottom: auto;
}

.dropdown-divider {
	height: 0;
	margin: 0.5rem 0;
	overflow: hidden;
	border-top: 1px solid #e9ecef;
}

.dropdown-item {
	display: block;
	width: 100%;
	padding: 0.25rem 1.5rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.dropdown-item,
.dropdown-header {
	font-size: 1.3rem !important;
}

.dropdown-item:first-child {
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
}

.dropdown-item:last-child {
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px);
}

.dropdown-item:hover,
.dropdown-item:focus {
	color: #16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
	color: #fff;
	text-decoration: none;
	background-color: #007bff;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
	color: #6c757d;
	pointer-events: none;
	background-color: transparent;
}

.dropdown-menu.show {
	display: block;
}

.dropdown-header {
	display: block;
	padding: 0.5rem 1.5rem;
	margin-bottom: 0;
	font-size: 0.875rem;
	color: #6c757d;
	white-space: nowrap;
}

.dropdown-item-text {
	display: block;
	padding: 0.25rem 1.5rem;
	color: #212529;
}

.dropdown-toggle-split {
	padding-right: 0.5625rem;
	padding-left: 0.5625rem;
}

.dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after,
.dropright .dropdown-toggle-split::after {
	margin-left: 0;
}

.dropleft .dropdown-toggle-split::before {
	margin-right: 0;
}

.btn-sm + .dropdown-toggle-split,
.btn-group-sm > .btn + .dropdown-toggle-split {
	padding-right: 0.375rem;
	padding-left: 0.375rem;
}

.btn-lg + .dropdown-toggle-split,
.btn-group-lg > .btn + .dropdown-toggle-split {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

/** Items **/
.eui-items {
    padding: 2px;
    min-height: 26px;
    background-color: #f8f8f8;
}

.eui-items__list {
    max-height: 105px;
    overflow-y: auto;
    display: block;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eui-items__list__item {
    margin: 0 0 1px 3px;
    padding: 0 6px 0 3px;
    float: left;
    border-radius: 1px;
    border: 1px solid #cccaca;
    outline: solid 1px transparent;
    background-color: #f1eeee;
    text-shadow: 0 0 3px #fffefe;
    color: #333;
    cursor: default;
}

.eui-items__list__item:hover {
    background-color: #fbfbfb;
    border: 1px solid #c3c2c2;
    cursor: pointer;
}

.eui-items__list__item__remove {
    color: #676767;
    padding: 0 1px;
    margin-right: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    background: none;
    border: none;
}

.eui-items__list__item__remove:hover {
    transform: scale(1.2);
    color: #560404;
}

.eui-items__list__item__remove:focus {
    outline: none;
}
